tests/Amadeus/Client/Session/Handler/testfiles/IATA/2010.1/chameleon/IATA_SimpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.002" id="IATA2010.1">
  <xs:simpleType name="AirEquipType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type definition for IATA aircraft types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="4" />
      <xs:pattern value="[0-9A-Z]{3,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AirlineType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type definition for 3 or 2 letter airline codes</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
      <xs:pattern value="([A-Z]{3}|[A-Z]{2})|([0-9][A-Z])|([A-Z][0-9])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaLength1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for an Alpha String, length 1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaLength4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for an Alpha String, length 4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to71">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 71</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,71}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to7">
    <xs:annotation>
      <xs:documentation>Used for Alpha-Numeric Strings, length 1 to 71</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength10">
    <xs:annotation>
      <xs:documentation>Used for  Alpha-Numeric Strings, length 10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to14">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 14</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,14}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength2to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 2 to 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{2,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaLength3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to19">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 19</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,19}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,20}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 4.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericStringLength1to30">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 30</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-zA-Z]{1,30}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AmountDeterminationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to indicate if an amount is inclusive or exclusive of other charges, such as taxes, or is cumulative (amounts have been added to each other).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inclusive" />
      <xs:enumeration value="Exclusive" />
      <xs:enumeration value="Cumulative" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CabinType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A cabin is either First, Business or Economy</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="First">
        <xs:annotation>
          <xs:documentation xml:lang="en">First class compartment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Business">
        <xs:annotation>
          <xs:documentation xml:lang="en">Business class compartment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Economy">
        <xs:annotation>
          <xs:documentation xml:lang="en">Economy (or sometimes referred to as Coach) class compartment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConditionType">
    <xs:annotation>
      <xs:documentation>Used to specify a condition for weight information.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="RampTaxi" />
      <xs:enumeration value="TakeOff" />
      <xs:enumeration value="ZeroFuel" />
      <xs:enumeration value="Landing" />
      <xs:enumeration value="Inflight" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DateOrDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A construct to validate either a date or a dateTime value.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:date xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="DateOrTimeOrDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A construct to validate either a date or a time or a dateTime value.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:date xs:dateTime xs:time" />
  </xs:simpleType>
  <xs:simpleType name="DurationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Allows for the specification of a night duration.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:duration NightDurationType" />
  </xs:simpleType>
  <xs:simpleType name="FareAmountType">
    <xs:annotation>
      <xs:documentation>Used to specify if ticket amount is bulk, IT, or NOADC</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="NOADC" />
      <xs:enumeration value="Bulk" />
      <xs:enumeration value="IT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FlightNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identifies a flight number (1 to 4 numbers followed by optional uppercase A - Z, which specifies an operational suffix) or OPEN or ARNK.</xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{1,4}" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="OPEN">
            <xs:annotation>
              <xs:documentation xml:lang="en">Used in lieu of a flight number when a specific flight number is unknown but service is present.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ARNK">
            <xs:annotation>
              <xs:documentation xml:lang="en">Used in lieu of a flight number when surface transportation is used when there is a break in the continuity of the flight itinerary.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="IATA_CodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the IATA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InfoSourceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify the source of the data being exchanged.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISO3166">
    <xs:annotation>
      <xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ListOfIATA_CodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">A list of IATA codes.</xs:documentation>
    </xs:annotation>
    <xs:list itemType="IATA_CodeType" />
  </xs:simpleType>
  <xs:simpleType name="ListOfTTY_Address">
    <xs:annotation>
      <xs:documentation>List of TTY addresses.</xs:documentation>
    </xs:annotation>
    <xs:list itemType="TTY_Address" />
  </xs:simpleType>
  <xs:simpleType name="ListOfStringLength1to8">
    <xs:annotation>
      <xs:documentation xml:lang="en">A list of items string length 1 to 8.</xs:documentation>
    </xs:annotation>
    <xs:list itemType="StringLength1to8" />
  </xs:simpleType>
  <xs:simpleType name="ListOfStringLength0to250">
    <xs:annotation>
      <xs:documentation xml:lang="en">A list of items string length 0 to 250.</xs:documentation>
    </xs:annotation>
    <xs:list itemType="StringLength0to250" />
  </xs:simpleType>
  <xs:simpleType name="MMYYDate">
    <xs:annotation>
      <xs:documentation xml:lang="en">Month and year information.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|1[0-2])[0-9][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Money">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NightDurationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Provides the ability to define a duration in terms of nights rather than days.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="P[0-9]{1,3}N" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric1">
    <xs:annotation>
      <xs:documentation>Used for single digit numeric values.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric0to99">
    <xs:annotation>
      <xs:documentation>Use for numeric values, from 0 to 99 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric values, from 1 to 3 inclusive</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric0to4">
    <xs:annotation>
      <xs:documentation>Used for numeric values, from 0 to 4 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric0to999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric values, from 0 to 999 inclusive</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric0to9999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric values, from 0 to 9999 inclusive.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="9999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 3.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric1to4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric values, from 1 to 4 inclusive</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric1to999">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric1to99">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric values, from 1 to 99 inclusive</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="99" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to19">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 19.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,19}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericStringLength1to8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,8}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Numeric1to9999">
    <xs:annotation>
      <xs:documentation>Used for Numeric Strings, length 1 to 9999.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="9999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OperationalSuffixType">
    <xs:annotation>
      <xs:documentation>Used to specify the operational suffix that may be used to further identify a flight.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentCardCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The 2 digit code used that references the credit card used.</xs:documentation>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="UpperCaseAlphaLength1to2">
          <xs:enumeration value="AX">
            <xs:annotation>
              <xs:documentation xml:lang="en">American Express</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BC">
            <xs:annotation>
              <xs:documentation xml:lang="en">Bank Card</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BL">
            <xs:annotation>
              <xs:documentation xml:lang="en">Carte Bleu</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CB">
            <xs:annotation>
              <xs:documentation xml:lang="en">Carte Blanche</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DN">
            <xs:annotation>
              <xs:documentation xml:lang="en">Diners Club</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DS">
            <xs:annotation>
              <xs:documentation xml:lang="en">Discover Card</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="EC">
            <xs:annotation>
              <xs:documentation xml:lang="en">Eurocard</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="JC">
            <xs:annotation>
              <xs:documentation xml:lang="en">Japanese Credit Bureau Credit Card</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="MC">
            <xs:annotation>
              <xs:documentation xml:lang="en">Master Card</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="TP">
            <xs:annotation>
              <xs:documentation xml:lang="en">Universal Air Travel Card</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="VI">
            <xs:annotation>
              <xs:documentation xml:lang="en">Visa</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation xml:lang="en">This is intended to be used when the above enumeration list does not meet your needs.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="UpperCaseAlphaLength1to2" />
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="Percentage">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for percentage values</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.01" />
      <xs:maxInclusive value="100.00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PurposeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify base, net, sell or refund amount.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Sell">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Net">
        <xs:annotation>
          <xs:documentation xml:lang="en" />
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Base" />
      <xs:enumeration value="Refund" />
      <xs:enumeration value="Additional" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RPH_Type">
    <xs:annotation>
      <xs:documentation>(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ServiceType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The service type per SSIM manual.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
      <xs:pattern value="([J|S|U|F|V|M|Q|G|B|A|R|C|O|H|L|P|T|K|D|E|W|X])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ShareIndicator">
    <xs:annotation>
      <xs:documentation>value="Inherit" Permission for sharing data for synchronization of information held by other travel service providers.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
      <xs:enumeration value="Inherit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SingleVendorIndicator">
    <xs:annotation>
      <xs:documentation>Indicates if a program is affiliated with a group of related offers accumulating credits.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="SingleVndr" />
      <xs:enumeration value="Alliance" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StateProvCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">The standard code or abbreviation for the state, province, or region</xs:documentation>
    </xs:annotation>
    <xs:restriction base="StringLength1to8">
      <xs:minLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type definition for airport IATA/ICAO codes, e.g. CDG or LHR.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="4" />
      <xs:pattern value="[A-Z]{3,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to10">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 10.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to13">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 13</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="13" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to2">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to3">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 3.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to5">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 5.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to64">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to255">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 255</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1">
    <xs:annotation>
      <xs:documentation>Used for Strings, length exactly 1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to8">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to5">
    <xs:annotation>
      <xs:documentation>Used for strings, length 1 to 5.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to128">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to16">
    <xs:annotation>
      <xs:documentation>Used for strings, length 1 to 16.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to64">
    <xs:annotation>
      <xs:documentation>Used for strings, length 1 to 64.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to71">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 71</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="71" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to32">
    <xs:annotation>
      <xs:documentation>Used for strings, length 1 to 32.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to86">
    <xs:annotation>
      <xs:documentation>Used for strings, length 1 to 86.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="86" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength1to128">
    <xs:annotation>
      <xs:documentation>Used for strings, length 1 to 128.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to250">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 250</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to100">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 100.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to50">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 50</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to255">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for strngs, length 0 to 255</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StringLength0to15">
    <xs:annotation>
      <xs:documentation>Used for strings, length 0 to 15.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to specify UTC or Local.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="UTC" />
      <xs:enumeration value="Local" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TTY_Address">
    <xs:annotation>
      <xs:documentation xml:lang="en">Teletype address</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Z]{3})([A-Z0-9]{2})(([A-Z][0-9])|([0-9][A-Z])|([A-Z]{2})|([A-Z]{3}))" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UpperCaseAlphaLength1to2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for an Alpha String, length 2 (for letter codes)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UpperCaseAlphaNumericLength2to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{2,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UpperCaseAlphaNumericLength3to5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{3,5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UpperCaseAlphaNumericStringLength1to10">
    <xs:annotation>
      <xs:documentation>Used for an upper case alpha string and numeric - length 1 to 10.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UpperCaseAlphaNumericStringLength1to2">
    <xs:annotation>
      <xs:documentation>Used for an upper case alpha string and numeric - length 1 to 2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,10}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsageType">
    <xs:annotation>
      <xs:documentation>Used to specify if planned or actual.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Planned" />
      <xs:enumeration value="Actual" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

