tests/Amadeus/Client/Session/Handler/testfiles/soapheader2/testwsdlsoapheader2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:aws="http://xml.amadeus.com" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:security_authenticate_6_1="http://xml.amadeus.com/VLSSLQ_06_1_1A" xmlns:security_authenticatereply_6_1="http://xml.amadeus.com/VLSSLR_06_1_1A" xmlns:pricexplorer_extremesearch_10_3="http://xml.amadeus.com/FAESXQ_10_3_1A" xmlns:pricexplorer_extremesearchreply_10_3="http://xml.amadeus.com/FAESXR_10_3_1A" targetNamespace="http://xml.amadeus.com">
    <wsdl:types>
        <xsd:schema targetNamespace="http://xml.amadeus.com">
            <xsd:import namespace="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd" schemaLocation="WBS_Session-2.0.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" schemaLocation="Security_SignOut_04_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" schemaLocation="Security_SignOutReply_04_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/VLSSLQ_06_1_1A" schemaLocation="Security_Authenticate_06_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/VLSSLR_06_1_1A" schemaLocation="Security_AuthenticateReply_06_1_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FAESXQ_10_3_1A" schemaLocation="PriceXplorer_ExtremeSearch_10_3_1A.xsd"/>
            <xsd:import namespace="http://xml.amadeus.com/FAESXR_10_3_1A" schemaLocation="PriceXplorer_ExtremeSearchReply_10_3_1A.xsd"/>
            <xsd:import schemaLocation="PNR_Reply_11_3_1A.xsd" namespace="http://xml.amadeus.com/PNRACC_11_3_1A"/>
            <xsd:import schemaLocation="PNR_Retrieve_11_3_1A.xsd" namespace="http://xml.amadeus.com/PNRRET_11_3_1A"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Session" xmlns:ns0="http://xml.amadeus.com/ws/2009/01/WBS_Session-2.0.xsd">
        <wsdl:part name="Session" element="ns0:Session"/>
    </wsdl:message>
    <wsdl:message name="Security_SignOut_4_1">
        <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut"/>
    </wsdl:message>
    <wsdl:message name="Security_SignOutReply_4_1">
        <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply"/>
    </wsdl:message>
    <wsdl:message name="Security_Authenticate_6_1">
        <wsdl:part name="Security_Authenticate_6_1" element="security_authenticate_6_1:Security_Authenticate"/>
    </wsdl:message>
    <wsdl:message name="Security_AuthenticateReply_6_1">
        <wsdl:part name="Security_AuthenticateReply_6_1" element="security_authenticatereply_6_1:Security_AuthenticateReply"/>
    </wsdl:message>
    <wsdl:message name="PriceXplorer_ExtremeSearch_10_3">
        <wsdl:part name="PriceXplorer_ExtremeSearch_10_3" element="pricexplorer_extremesearch_10_3:PriceXplorer_ExtremeSearch"/>
    </wsdl:message>
    <wsdl:message name="PriceXplorer_ExtremeSearchReply_10_3">
        <wsdl:part name="PriceXplorer_ExtremeSearchReply_10_3" element="pricexplorer_extremesearchreply_10_3:PriceXplorer_ExtremeSearchReply"/>
    </wsdl:message>
    <wsdl:message name="PNR_Reply_11_3">
        <wsdl:part name="PNR_Reply_11_3" element="pnr_reply_11_3:PNR_Reply"/>
    </wsdl:message>
    <wsdl:message name="PNR_Retrieve_11_3">
        <wsdl:part name="PNR_Retrieve_11_3" element="pnr_retrieve_11_3:PNR_Retrieve"/>
    </wsdl:message>
    <wsdl:portType name="AmadeusWebServicesPT">
        <wsdl:operation name="Security_SignOut">
            <wsdl:input message="aws:Security_SignOut_4_1"/>
            <wsdl:output message="aws:Security_SignOutReply_4_1"/>
        </wsdl:operation>
        <wsdl:operation name="Security_Authenticate">
            <wsdl:input message="aws:Security_Authenticate_6_1"/>
            <wsdl:output message="aws:Security_AuthenticateReply_6_1"/>
        </wsdl:operation>
        <wsdl:operation name="PriceXplorer_ExtremeSearch">
            <wsdl:input message="aws:PriceXplorer_ExtremeSearch_10_3"/>
            <wsdl:output message="aws:PriceXplorer_ExtremeSearchReply_10_3"/>
        </wsdl:operation>
        <wsdl:operation name="PNR_Retrieve">
            <wsdl:input message="aws:PNR_Retrieve_11_3"/>
            <wsdl:output message="aws:PNR_Reply_11_3"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AmadeusWebServicesBinding" type="aws:AmadeusWebServicesPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Security_SignOut">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIDUMMY/VLSSOQ_04_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Security_Authenticate">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIDUMMY/VLSSLQ_06_1_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PriceXplorer_ExtremeSearch">
            <soap:operation soapAction="http://webservices.amadeus.com/1ASIDUMMY/FAESXQ_10_3_1A"/>
            <wsdl:input>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="aws:Session" part="Session" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AmadeusWebServices">
        <wsdl:port name="AmadeusWebServicesPort" binding="aws:AmadeusWebServicesBinding">
            <soap:address location="https://dummy.endpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
